[2018-10-20 17:47] zugaldia opened #10 "Telemetry crash at start up"
I'm trying to build a simple test project using 0.1.0. However, the app would crash at start up because `MapboxTelemetry` isn't included (it seems it was [commented out here](https://github.com/mapbox/mapbox-vision-android/blob/master/MapboxVision/build.gradle#L72)):

[code]

Adding `api "com.mapbox.mapboxsdk:mapbox-android-telemetry:3.2.0"` to the app's `build.gradle` dependecies fixes it. Happy

[2018-10-20 17:52] zugaldia opened #11 "API to notify unsupported hardware configuration"
This is an enhancement request. Currently, when trying to load the SDK into a device that isn't supported, the app would crash with the following message:

Though this is expected and documented, we'd probably want to add a more graceful way to handle these situations. One possibility is providing an API method to detect if the device is supported, or an error callback so that developer can implem

[2018-10-20 18:11] zugaldia opened #12 "Android Things support"
Android Things is Google's certified version of Android for IoT/embedded development. I'd like to use this ticket to track support (if technically possible) for this flavor of Android.

Currently, [Android Things supports](https://developer.android.com/things/hardware/) two Qualcomm SOM with Adreno support:
- Qualcomm SDA212
- Qualcomm SDA624

![image](https://user-images.githubusercontent.com/696

[2018-10-25 12:27] yunikkk opened #16 "Add debug overlay with core information."
This will ease debugging for us and other users.

[2018-11-14 09:59] BenDenen opened #26 "Out of index exception. Crashlytics"
[Link](https://fabric.io/mapbox16/android/apps/com.mapbox.vision.examples/issues/5bebeb2cf8b88c2963dd6f6c?time=last-seven-days)
`Fatal Exception: java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
       at com.mapbox.vision.visionevents.events.classification.SignClassification$Companion.fromSignClassificationDataBuffer$MapboxVision_release(SignClassification.kt:32)
       at com.mapbox.v

[2018-11-20 12:06] #26 closed

[2018-12-20 15:24] yunikkk opened #47 "Investigate why video buffers that we write for telemetry may have stripped size"
Happened in session `2018-12-09_11-49-17_US_6646899a-90d3-4707-bdcd-9c9bec7fb7d1_Android`

[2019-04-22 08:56] #10 closed

[2019-04-23 06:37] frankSol opened #77 "Failed resolution of: Lcom/mapbox/vision/mobile/core/models/Country"
Hello

I can't find vision.mobile.core.models.Coutry library

Caused by: java.lang.ClassNotFoundException: Didn't find class "com.mapbox.vision.mobile.core.models.Country" on path: DexPathList[[zip file "/data/app/hy.frank.ex.hyvisontest-JScYKGhpUduYYq7AnLwSRA==/base.apk"],nativeLibraryDirectories=[/data/app/hy.frank.ex.hyvisontest-JScYKGhpUduYYq7AnLwSRA==/lib/arm64, /data/app/hy.frank.ex.hyvisont

[2019-04-24 13:37] 4ndro1d opened #79 "Symphony keeps crashing on Samsung Galaxy S9"
Trying to run a very basic setup results in my app process being continuously killed (while the activity says alive) with the following output:

[code]

Trying to run on my **Samsung Galaxy S9 (SM-G960F) with Android 8.0.0**.

**UPDATE:**

Alright, just fugured that the European version of the S9 doesn't have a snapdragon. So I'm sitting here with some phones which are currently not supported:

Ga

[2019-04-24 14:14] RingerJK opened #81 "Move `Vision Ar` and `Vision Safety` repos to archive"
Move `Vision Ar` and `Vision Safety` repos to archive because ones codebase were transferred to current repo.

[2019-04-26 08:36] yunikkk opened #82 "Set initial content for VisionView."
Initial content is not set and uninitialized trash is displayed, would be nice to set some default image/black background.

[2019-04-26 08:39] yunikkk opened #83 "UI for Safety sample code."
In safety example safety warnings are logged only, which can be confusing for user without the visual indication. Need to either align with iOS or display some enhanced UI for that (can discuss with @rokkeds ).

[2019-04-26 09:03] #16 closed

[2019-04-26 09:03] #47 closed

[2019-04-26 09:05] yunikkk commented on #79
Hello,
we plan to extend supported device list, currently the only ones that are supported are Snapdragon powered.

[2019-04-26 10:30] yunikkk commented on #79
https://docs.mapbox.com/android/vision/overview/#requirements here are the details about device support.
We'll update this ticket when SDK will support this devices.

[2019-04-26 10:43] yunikkk commented on #11
API that checks if board is supported is
`SupportedSnapdragonBoards.isBoardSupported(SystemInfoUtils.getSnpeSupportedBoard())`.

We still need to update documentation to show this API usage.

[2019-04-26 10:58] yunikkk commented on #77
Hello @frankSol , how do you retrieved vision dependencies?

[2019-04-26 10:58] pablolb94 opened #85 "error android build"
error:
Could not get unknown property 'CORE_VISION_SDK' for settings 'mapbox-vision-ar-android' of type org.gradle.initialization.DefaultSettings.

i can generate app demo, help please :S

[2019-04-26 13:47] #85 closed

[2019-04-26 14:29] lezan opened #88 "Unable to resolve dependency. Could not resolve."
I followed instal instructions reported [here](https://vision.mapbox.com/install/), but gradle still give me error when I try to sync.

[code]

My gradle (modulel)

[code]

My gradle (project)

[code]

I already try to invalidate cache and restart, check off Offline mode of gradle.
I already try to clone mapbox-vision-android-teaser, but I am getting the same error.
I already try to build my proje

[2019-04-26 15:28] yunikkk commented on #88
Hello, are you 100% sure that your token you use in build.gradle auth block
[code]
is valid and has `vision:download` scope enabled?

[2019-04-26 16:25] lezan commented on #88
Hello, got it. I cannot find vision:download I am old tokens, but I can see it if I create a new one. Am I not able to add it to my old token? I need to generate a new one?

[2019-04-26 16:28] yunikkk commented on #88
That's definitely a bug, we'll investigate it. Currently you can try Vision with the new token. Thanks for the report

[2019-04-26 16:39] lezan commented on #88
Thanks, now I am able to sync gradle.

[2019-04-26 16:44] #88 closed

[2019-04-27 01:20] BULVRDapp opened #90 "Example Demos: Android 9.0 Devices require Foreground Service Permission"
Running the latest examples with version 0.3.0, Android 9.0+ devices will crash as they require Foreground Service permission when attempting to run the navigation example. Crash happens after selecting a destination.

Just need to add in the repo:
<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

[2019-04-29 09:55] RingerJK commented on #90
I'll assign permission for Foreground Services

[2019-04-29 10:05] #90 closed

[2019-04-30 14:26] yunikkk commented on #77
Seems that proguard might be an issue, do you use it with your application?

[2019-05-24 14:56] RingerJK opened #106 "Unit test Telemetry SDK: video path"
Issue: wrong path name (missing or extra _language_, _location_)

[2019-06-18 09:40] vladzima commented on #77
Closing this for now. Feel free to reopen if needed.

[2019-06-18 09:40] #77 closed

[2019-06-28 16:15] BULVRDapp opened #118 "Add Snapdragon 855 variants to supported devices"
Snapdragon 855 was recently added to the list of supported devices

[code]

Some devices ship with prior used codenames of the Snapdragon 855, in our case we see references to _SM8150_ and board name _msmnile_

Are we able to get this added or have some way of enabling testing of different variants without these processor checks kicking in within the SDK?

[2019-06-28 16:20] yunikkk commented on #118
@BULVRDapp we are still working on supporting 855 processor, it won't be supported right now.
But we definitely can add some switch to turn off checks for debugging. We'll discuss internally this and get back to you.

[2019-06-28 16:24] BULVRDapp commented on #118
Yeah we knew it wasn't originally supported due to a bug on the Qualcomm side, but we saw commits for it being add in [https://github.com/mapbox/mapbox-vision-android/commit/013a70b26d082b9dbd98d2de392d21a5eb9e0bd0](url) so assumed that had been cleared up.

Figured we'd pass along other 855 variants we see incase they were not known.

[2019-07-01 15:18] yunikkk commented on #118
The bug is still there, so despite of model added to the list of supported processor won't run the models =\
We are tracking the issue and working on supporting 855, will get back as soon as it's ready

[2019-07-04 04:24] shahram95 opened #120 "Unable to resolve dependency error"
Hi, i am getting the following error when I am trying to sync the gradle:

ERROR: Unable to resolve dependency for ':Examples@debug/compileClasspath': Could not resolve com.mapbox.vision:mapbox-android-vision:0.4.0.
Show Details
Affected Modules: Examples

ERROR: Unable to resolve dependency for ':Examples@debug/compileClasspath': Could not resolve com.mapbox.vision:mapbox-android-vision-ar:0.4.0.

[2019-07-04 09:58] RingerJK commented on #120
@shahram95 please replace  **_username 'shahram95'_** -> **_username 'mapbox'_**

[2019-07-04 09:58] #120 closed

[2019-07-04 14:53] change-bot[bot] opened #122 "PR #121 merged without successful status checks (mapbox-vision-android)"
:wave: Hey there! It's [Changebot](https://github.com/mapbox/changebot), and I help repositories follow our [engineering](https://github.com/mapbox/engineering) best practices. My magic wand found some things I wanted to highlight for your review:

Item | Current status | Best practice guidelines
--- | --- | ---
Run unsuccessful: [Travis CI - Pull Request](https://github.com/mapbox/mapbox-vision-a

[2019-07-05 16:33] #122 closed

[2019-07-07 13:32] ai2015-try opened #125 "Failing to resolve error"
![error](https://user-images.githubusercontent.com/52096856/60769108-87ae5f80-a0fe-11e9-820d-061e7f6b230d.JPG)

So I'm following the tutorial on MapBox's website on how to implement Vision into the project and I'm running into this issue, I followed all the steps exactly. I have no idea why this is hapening

[2019-07-08 08:50] yunikkk commented on #125
Hello, did you add mapbox maven repo to your top level build.gradle? Eg.

[code]
as shown in https://vision.mapbox.com/install/

[2019-07-10 07:45] shahram95 commented on #125
@ai2015-try , Hello, hope you are having a good day. I was facing the same problem, go to build.gradle(Project: mapbox-vision-android-dev) and add this maven repo as @yunikkk  mentioned.

    repositories {
        google()
        jcenter()

        maven { url "https://mapbox.bintray.com/mapbox" }

        maven {
            url 'https://api.mapbox.com/downloads/v1/vision/android/maven'

[2019-07-10 08:45] ai2015-try commented on #125
Thank you, the issue is fixed now :)

[2019-07-10 08:45] #125 closed

[2019-07-10 16:57] thomhubers commented on #12
Any update here?

[2019-07-10 22:40] yunikkk commented on #12
@thomhubers not yet, at the current moment no progress here

[2019-07-15 12:49] korshaknn opened #132 "Update android Examples"
Examples don't work as needed, should be fixed.

[2019-07-15 13:02] vladzima commented on #132
If the task is in Sprint, it should either be in Spring Backlog or In Progress (/PR) or Closed.

[2019-07-15 14:33] RingerJK opened #133 "Add secret-sheild to `mapbox-vision-android` repo"
Add secret-shield pre-hook to repo

Integrate: https://github.com/mapbox/secret-shield

Sample and instruction: https://github.com/mapbox/mapbox-vision/pull/1213

[2019-07-22 12:13] vladzima commented on #132
Estimation?

[2019-07-23 14:41] prat96 opened #139 "Gradle sync fails"
Hi, I'm unable to build this repo on Android Studio. I made the changes in the gradle build files as instructed in the Vision SDK docs for v0.5.0. Please advise.

[code]

[2019-07-25 11:08] #139 closed

[2019-07-28 11:59] thomhubers opened #142 "Add Nokia 6.1 2018 with Snapdragon 630 to supported devices"
I ran the teaser app on this phone, refresh rate was like 1 fps (what is normal?) but it works.

[2019-07-30 07:50] Chaoba opened #145 "Resolve circular dependency"
`DelegateVisionManager` has dependency on `VisionView` while `VisionView` has dependency on `DelegateVisionManager` too, this is a circular dependency. In fact only `VisionView` should has dependency on `DelegateVisionManager`.

Solution:
Remove `externalVideoSourceListener` from `DelegateVisionManager` and set `baseVisionManager` of `VisionView` in `VisionManager`.

@yunikkk What do you think?

[2019-07-30 08:14] yunikkk commented on #145
@Chaoba yup, that was quick and dirty solution, will fix it soon. Have a branch with the changes that will remove dependency DelegateVisionManager from VisionView

[2019-07-30 16:35] hamilton-urbano opened #147 "Maps in Android doesn't work well with a gesture (Replicated in demo App)."
### Description:
With the following gesture the app starts to behave in a strange way, this was replicated in the
[Mapbox Demo app](https://play.google.com/store/apps/details?id=com.mapbox.mapboxandroiddemo&hl=en).

### How to replicate:
Tap twice and hold then do tilting gesture with a second finger. After this gesture, the scroll to any direction stops to works for some seconds.

You can see a v

[2019-07-30 16:55] yunikkk commented on #147
Hi @hamilton-urbano !
Can't access the video, its protected with permissions.
Is this issue about https://play.google.com/store/apps/details?id=com.mapbox.mapboxandroiddemo&hl=en only? This is repository for Vision SDK that is different from Maps SDK

[2019-07-30 18:00] hamilton-urbano commented on #147
Hi Dmitry.
Sorry about the video access permission, could you give me an email in
order to share this video with you?
And I think was my mistake, I believe that is an issue with the Maps SDK.
Which repo should I use to add the issue?

On Tue, Jul 30, 2019 at 11:55 AM Dmitry Yunitsky <notifications@github.com>
wrote:

--

The information contained in this e-mail may be confidential. It has been
sen

[2019-07-31 09:15] yunikkk commented on #147
Mapbox gl native should be the right place, https://github.com/mapbox/mapbox-gl-native,
@tobrun @LukasPaczos could you guys take a look?

[2019-07-31 09:23] LukasPaczos commented on #147
@hamilton-urbano thanks for the report. If I interpret this correctly, you're doing a double-tap and then placing another finger to pinch, is that correct? If so, this has been fixed in https://github.com/mapbox/mapbox-gl-native/pull/15103 and is available in the `v8.1.1.` and `v8.2.0` of the Maps SDK. Unfortunately, the demo app has not been upgraded yet.

In general, for reports regarding the de

[2019-07-31 09:23] #147 closed

[2019-07-31 09:44] yunikkk commented on #142
Hey, thanks for trying, glad to hear it works!
Refresh rate depends solely on the hardware, GPU most importantly. Currently we state 650 Snap the lowest supported due to the low FPS on lower models. We'll consider adding more descriptive list of models that are supported.

[2019-07-31 12:28] thomhubers commented on #142
Totally fine, just wanted to report my findings.

0.5.0 was a big improvement in speed, maybe in the future it will improve even further. If there's anything you'd like me to test on the cheaper supported hardware, just let me know.

[2019-07-31 13:49] change-bot[bot] opened #148 "PR #146 merged without successful status checks (mapbox-vision-android)"
:wave: Hey there! It's [Changebot](https://github.com/mapbox/changebot), and I help repositories follow our [engineering](https://github.com/mapbox/engineering) best practices. My magic wand found some things I wanted to highlight for your review:

Item | Current status | Best practice guidelines
--- | --- | ---
Run unsuccessful: [Travis CI - Pull Request](https://github.com/mapbox/mapbox-vision-a

[2019-07-31 13:49] yunikkk commented on #148
Ok thanks =)

[2019-07-31 13:49] #148 closed

[2019-07-31 17:08] hamilton-urbano commented on #147
@LukasPaczos thank you, I tested the version `8.2.0` and ti's fixed now.

[2019-07-31 19:14] thomhubers opened #150 "Read sensorsListener"
`VisionManager.start(visionEventsListener)` provides the method to listen for vision events. I discovered a sensorDataListener to be in the mapbox-vision sdk too.

Is there a possibility to override the sensor listeners? Both the heading and deviceMotion are interesting.

[2019-08-01 11:32] yunikkk commented on #150
@thomhubers could you please elaborate the use case for overrinding sensors?

[2019-08-01 17:14] thomhubers commented on #150
I sent you an email.

[2019-08-04 13:09] YasirAmeen commented on #88
I am facing the issue, can anyone help what is mean by secret scope ?

[2019-08-05 05:38] #145 closed

[2019-08-07 09:02] alexander-kulikovskii opened #157 "Fix country check in VisionManager"
## Description
Add UK to the list of the countries in VisionManager start method

[2019-08-07 09:27] #157 closed

[2019-08-07 09:53] alexander-kulikovskii opened #159 "Refactor test TotalBytesCounter"
## Description
Refactor test using Spek2

## Steps
- [ ] Step 1: Support style Gherkin (Given, When, Then)
- [ ] Step 2: Add parameterized test

[2019-08-08 12:43] #159 closed

[2019-08-08 13:02] prat96 commented on #132
Hi guys, I request for the examples to be cleaned up/implemented a lot better, half the stuff doesn't work without modification and it's not at all clear what exactly each example is supposed to do without really diving into the code.
You could save new developers a lot of time and effort. Thanks!

[2019-08-12 13:12] #150 closed

[2019-08-13 13:58] alexander-kulikovskii opened #162 "Fix CI builds"
## Description
Not all build properties included in build.sh for Vision-Android.
Also ktlint check only Example module

## Steps
- [x] Add build properties
- [ ] Check CI build

[2019-08-14 10:54] #133 closed

[2019-08-14 12:25] thomhubers commented on #142
https://versus.com/en/qualcomm-snapdragon-630-vs-qualcomm-snapdragon-650 this shows that 630 is supposed to be faster than 650. Am I overlooking something?

[2019-08-19 17:36] yunikkk commented on #142
For Vision the main bottleneck will be GPU, which is Adreno 508 VS 510, https://www.notebookcheck.net/Adreno-508-vs-Adreno-510_8112_7360.247598.0.html. Mostly they are very similar, so the performance should be close, too.

[2019-08-20 10:39] alexander-kulikovskii opened #169 "Add code coverage tool"
## Description
Add code coverage tool for Android tests

## Steps
- [ ] Add jacoco

[2019-08-20 10:44] alexander-kulikovskii opened #170 "Add tool for mutation testing"
## Description
Add Pitest as tool for mutation testing

## Goal
Add tool that helps improve quality of tests

## Steps
- [ ] add Pitest
- [ ] refactor tests

[2019-08-23 07:50] alexander-kulikovskii opened #173 "Add Verify block for test DSL"
## Description
Add Verify block for test DSL

## Steps
- [ ] Add Vefiry block
- [ ] Refactor code

[2019-08-23 08:08] alexander-kulikovskii opened #174 "Check display name for all test blocks"
## Description
Add check for same displayName in all test blocks. Throw exception if find same names

## Steps
- [ ] Add check
- [ ] Test it

[2019-08-23 08:16] #170 closed

[2019-08-23 13:27] #169 closed

[2019-08-23 13:27] #174 closed

[2019-08-26 07:09] alexander-kulikovskii opened #180 "Add Telemetry Environment tests"
## Description
Add tests for hostName and basePath methods

[2019-08-26 08:56] #180 closed

[2019-08-28 15:48] korshaknn opened #184 "Repeate create camera session on fail"
Currently if create camera session fails we just throw an exception. So user will have a crash.
We should change logic to repeat creation for 3 times. If it doesn't help - close camera.
That logic may be changed/improved in [1512](https://app.zenhub.com/workspaces/vision-sdk-5ca52e6c027e3e7234ac7512/issues/mapbox/mapbox-vision/1512)

[2019-08-29 08:50] #184 closed

[2019-08-30 06:59] alexander-kulikovskii opened #188 "Device farm research"
## Description
Test Firebase and AWS device farms

## Goal
Decide which device farm is better for Android tests

[2019-08-30 08:01] alexander-kulikovskii opened #189 "Add test readme"
## Description
Add readme for different test types and how to run each type

## Steps
- [ ] add description for unit tests
- [ ] add description for jacoco (code coverage)
- [ ] add description for pitest (mutation tests)

[2019-08-30 09:19] #173 closed

[2019-09-03 12:24] alexander-kulikovskii opened #197 "Update version to 0.9.0"
## Description
Update Vision version to 0.9.0

[2019-09-04 08:58] #197 closed

[2019-09-04 10:03] code-player opened #200 "Vision Example Code crash at `couldn't find "libvision-sdk-wrapper.so"`"
Following is the logcat

[2019-09-04 10:10] korshaknn commented on #200
@code-player hi! It can happen because of invalid linking during installation. Do you have enough free memory on the phone? Have you tried to reinstall the app?

[2019-09-04 10:12] korshaknn commented on #200
@code-player please also note that we are fixing Examples right now, a PR with fixies is [here](https://github.com/mapbox/mapbox-vision-android/pull/199)

[2019-09-04 10:19] yunikkk commented on #200
@code-player I see only `armeabi-v7a` referenced in the crashlog, which is not supported yet, only armv8 is. Which device are you running at?

[2019-09-04 10:22] korshaknn commented on #200
@code-player current version of `ArActivity.java` doesn't have a `isSupportedDevice` check, it is fixed in the PR mentioned above

[2019-09-04 11:54] code-player commented on #200
@yunikkk I was trying on lenovo tablet which is arm-v7 architecture.

@korshaknn I tried the PR you mentioned, following is the error log I get now in logcat.

Now, I'm trying with device that is `aarch64`.

[2019-09-04 11:55] code-player commented on #200
@korshaknn I couldn't find the method `isSupportedDevice` as mentioned by you above.
Please confirm

[2019-09-04 16:48] #132 closed

[2019-09-05 06:39] code-player commented on #200
@korshaknn Please confirm if the issue I reported above is fatal or can be ignored?

Moreover, after the `error log`, I can't see any kind of icon/ feature in the example app. All I get is my camera feed and a direction pop up in the notification bar of my phone, the distance of which does not change even when I move in the direction.

Am I missing something here? Please suggest.

[2019-09-05 08:12] korshaknn commented on #200
@code-player Examples don't have a full functionality, they just like a code snippets to show you how the SDK can be used. If you need more complete example, please go to [Teaser app](https://github.com/mapbox/mapbox-vision-android-teaser)

[2019-09-05 08:40] code-player commented on #200
I'm still facing issues with build. Moving to the Teaser app repo.

[2019-09-05 08:40] #200 closed

[2019-09-05 08:54] #81 closed

[2019-09-07 13:30] francorobles opened #203 "Samsung S9 Not Supported"
It say's Samsung S9 is not supported?

[2019-09-07 14:49] francorobles commented on #203
I didn't noticed my processor was Exynos. Any plans of supporting this processor?

[2019-09-08 16:03] korshaknn commented on #203
@francorobles currently we don't support Exynos processors, only Snapdragon. It would be great to support Exynos, but we are not working on it right now.

[2019-09-27 00:55] #188 closed

[2019-09-28 05:52] Yousaf128 opened #209 "ERROR: Unable to resolve dependency for ':Examples@debug/compileClasspath': Could not resolve com.mapbox.vision:mapbox-android-vision:0.9.0."
Hi.After adding map box access token i am facing this issue and did not work any solution for me. can you guide me step by step.Thanks

[2019-09-30 09:30] yunikkk commented on #209
@Yousaf128 hi, have you followed instructions from https://vision.mapbox.com/install/?

[2019-10-10 19:39] BULVRDapp commented on #118
Seen the latest changelog update https://github.com/mapbox/mapbox-vision-android/commit/e5669e50d3fd2987430d7143d4c99a83acdff61d for adding 855 support. Is this build available now or is there a way we could help test this version out?

[2019-10-11 11:18] yunikkk commented on #118
It's not released yet but we are very close, expect to arrive early next week. I'll post here as soon as it's there

[2019-10-17 20:41] vladzima commented on #118
Latest 0.10.0 release https://vision.mapbox.com/install/ supports 855. Docs are coming up in a couple of days.

[2019-10-17 20:41] #118 closed

[2019-10-17 20:46] vladzima commented on #189
?

[2019-10-18 06:15] #189 closed

[2019-10-18 10:24] #162 closed

[2019-10-18 10:53] yunikkk commented on #209
Closing due to inactivity, feel free to reopen if issue is still there.

[2019-10-18 10:53] #209 closed

[2019-11-18 09:38] yunikkk commented on #106
Wont be relevant with #1739, logic building directory paths had moved to c++ code

[2019-11-18 09:41] #82 closed

[2019-11-18 09:41] yunikkk commented on #82
Outdated, fixed as part of https://github.com/mapbox/mapbox-vision/pull/1607

[2019-11-18 09:50] RingerJK commented on #106
I think that country/language/platform("Android") and etc will be provided by platform, does not?

[2019-11-18 09:58] yunikkk commented on #106
Yes, but core will combine them to prepare video path itself, we don't have such concept on platform. What we have is implementation of interfaces, and they can/should be covered with unit tests eventually. Though this task is about video path specifically

[2019-11-18 10:13] RingerJK commented on #106
I believe, that problem here was Android platform provided wrong path name that was created on own side(based on `Context` -> `Resources` data). So unit tests on Core side won't solve this issues.

[2019-11-18 10:28] yunikkk commented on #106
Lets discuss personally, not sure I understood you correctly

[2019-12-02 12:02] h3clikejava opened #214 "Examples can't run by No static method obtainVisionSkuUserToken?"
java.lang.NoSuchMethodError: No static method obtainVisionSkuUserToken(Ljava/lang/String;)Ljava/lang/String; in class Lcom/mapbox/android/accounts/v1/MapboxAccounts; or its super classes (declaration of 'com.mapbox.android.accounts.v1.MapboxAccounts' appears in /data/app/com.mapbox.vision.examples-kEwyjK4ToZH_BBLUiB-mCQ==/base.apk!classes3.dex)
        at com.mapbox.vision.mobile.core.account.Acco

[2019-12-02 12:53] yunikkk commented on #214
We'll fix the dependency issues, the method was added in the 0.3.0 version of account lib, while some other mapbox dependencies use 0.2.0.
Meanwhile you can fix that on your side by forcing version manually
[code]

[2019-12-03 00:32] #214 closed

[2019-12-06 09:42] h3clikejava opened #215 "Always crash when i add other ui element"
2019-12-06 17:39:13.894 32732-32732/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
2019-12-06 17:39:13.894 32732-32732/? A/DEBUG: Build fingerprint: 'SMARTISAN/trident/trident:8.1.0/OPM1.171019.026/1563935990:user/dev-keys'
2019-12-06 17:39:13.894 32732-32732/? A/DEBUG: Revision: '0'
2019-12-06 17:39:13.894 32732-32732/? A/DEBUG: ABI: 'arm64'
2019-12-06 17:39:13.894 327

[2019-12-06 09:48] korshaknn commented on #215
@h3clikejava what do you mean? Do you make any actions with UI in a callback? callbacks are in a background thread. you should use
[code]

[2019-12-06 10:25] h3clikejava commented on #215
Really Thank you so much!

[2019-12-06 10:25] #215 closed

[2019-12-30 06:33] karthika-89 commented on #79
I am using Samsung s9+ which is in the list of https://docs.mapbox.com/android/vision/overview/#requirements but i am getting the same issue

[2019-12-30 07:01] kiryldz commented on #79
Hi @karthika-89 , it crashes because currently Mapbox Vision is supported only by Snapdragon SoC-s while your S9+ uses `Exynos 9810`.
Good news that we're going to roll out major update in January so that almost all SoC-s will be supported including your device.

[2019-12-30 09:56] karthika-89 opened #216 "No virtual method setBaseUrl(Ljava/lang/String;)V in class Lcom/mapbox/android/telemetry/MapboxTelemetry; or its super classes"
I am using a ### **ONEPLUS3T** device.
I am getting the following error log when I tried to get location updates from a mocker app.

java.lang.NoSuchMethodError: No virtual method setBaseUrl(Ljava/lang/String;)V in class Lcom/mapbox/android/telemetry/MapboxTelemetry; or its super classes (declaration of 'com.mapbox.android.telemetry.MapboxTelemetry' appears in /data/app/com.kml.rigapplication-qV8T

[2019-12-30 10:55] kiryldz commented on #216
Hi @karthika-89 !
Please try adding this code to app level `build.gradle`

`
api ("com.mapbox.mapboxsdk:mapbox-android-telemetry:4.7.0") {
        force = true
    }
`

[2020-01-23 09:52] change-bot[bot] opened #218 "PR #217 merged without successful status checks (mapbox-vision-android)"
:wave: Hey there! It's [Changebot](https://github.com/mapbox/changebot), and I help repositories follow our [engineering](https://github.com/mapbox/engineering) best practices. My magic wand found some things I wanted to highlight for your review:

Item | Current status | Best practice guidelines
--- | --- | ---
Run unsuccessful: [Travis CI - Pull Request](https://github.com/mapbox/mapbox-vision-a

[2020-02-20 03:09] estherooi opened #221 "Is it possible to add POI details on the Example AR navigation project?"
Hi, I am a student doing my final year project, I managed to run the AR navigation project, however I would like to add visual context to the AR navigation, can anyone provide me step by step guidance in this?
thanks a lot!

[2020-02-20 09:04] kiryldz commented on #221
Hi @estherooi . What do you mean by visual context?
Basically there are now to types of AR objects: lane and maneuver fence.
API is present to customize them a bit.
Please take a look at this [link](https://docs.mapbox.com/android/vision/examples/basic-ar-navigation/) for a small sample video and at [API reference](https://docs.mapbox.com/android/api/vision/ar/0.11.0/index.html).

[2020-02-20 09:07] kiryldz commented on #216
Closing due to inactivity.

[2020-02-20 09:07] #216 closed

[2020-02-20 09:08] #218 closed

[2020-02-20 09:12] #142 closed

[2020-02-20 09:16] kiryldz commented on #106
@yunikkk @RingerJK - did you discuss it personally? Could we close this?

[2020-02-20 09:28] estherooi commented on #221
![img](https://user-images.githubusercontent.com/61179834/74919908-4311d300-5406-11ea-91ed-ea1b160c7600.JPG)

Hi @kiryldz what I mean by POI was the little icon showing the details of the particular building. Is that possible to create it? Thanks!

[2020-02-20 12:13] yunikkk commented on #106
Not really sure, long time no see with this issue=)

[2020-02-20 12:30] kiryldz commented on #106
As discussed, Telemetry now moved to core completely. We could close this.

[2020-02-20 12:30] #106 closed

[2020-02-24 07:50] estherooi opened #222 "How to pass user's location to the origin point?"
`package com.fyp.mapboxar;

import androidx.annotation.NonNull;
import androidx.annotation.Nullable;
import androidx.appcompat.app.AppCompatActivity;
import androidx.appcompat.app.AppCompatActivity;
import androidx.core.app.ActivityCompat;
import androidx.core.content.ContextCompat;

import android.Manifest;
import android.app.Activity;
import android.app.AlertDialog;
import android.content.Dialog

[2020-02-24 07:55] estherooi opened #223 "How to pass user's location to the origin point?"
` How to pass the current user location to the origin point? Is there a method to put it? I tried many ways, but it seems like not working well?
//Main activity
public class MainActivity extends AppCompatActivity {

    //location part
    FusedLocationProviderClient mFusedLocationClient;
    LocationRequest mLocationRequest;
    LocationCallback mLocationCallback;

    double pLat;
    double pLo

[2020-02-24 13:07] cheekim commented on #79
Will Mapbox Vision support huawei devices is near future?

[2020-02-24 14:06] kiryldz commented on #223
Hi @estherooi !
Firstly, could you please specify if this issue is copy of #222. If yes - please close #222.
Secondly, it would be nice in future to have a bit more formatted and localized code - piece of code above is hardly readable.
Thirdly - how are you actually testing to make sure that values are not set correctly?
Just FYI we have bigger example of complete app:
https://play.google.com/stor

[2020-02-24 14:39] #222 closed

[2020-02-24 14:58] estherooi commented on #223
@kiryldz alright! thanks a lot!

[2020-02-24 14:58] #223 closed

[2020-02-25 07:05] yunikkk commented on #79
@cheekim hey, we plan to release support for Huawei Kirin/Samsung Exynos and Mediatek chips in the next couple of weeks

[2020-02-25 16:59] kiryldz commented on #221
If we assume that POI objects are 2D you could do the following.
Input: POI's latitude (`poiLat`), POI's longitude (`poiLon`), POI's ground offset in meters (`poiOffset`).

1.  Get POI's frame coordinates
[code]
2.  Rough scale of POI should be inversely proportional to `worldPos.x`:
[code]
3. As a result you have POI's frame coordinates (x, y taken from `VideoSourceListener.onNewFrame()`) and sca

[2020-02-27 00:39] harvsu opened #224 "Integrate Telemetry SDK v4.7.3"
This ticket tracks the integration of Telemetry SDK v4.7.3 into Vision SDK and further follow ups on any issues/feedback post integration!!
@yunikkk

[2020-02-27 10:09] estherooi commented on #221
@kiryldz alright, i will try to it. Thanks a lot!

[2020-02-27 10:24] estherooi opened #225 "How to get the user's current location at ORIGIN_POINT?"
Hi, I managed to get the user's current location from
`@Override
                public void onSuccess(LocationEngineResult result) {
                    if (result!=null){
                        location = Point.fromLngLat(result.getLastLocation().getLongitude(),result.getLastLocation().getLatitude());
                    }
                }`

However, when I want to pass it to
`    private  Poi

[2020-02-27 12:06] kiryldz commented on #225
Hi @estherooi - could you please provide crash stacktrace?

[2020-02-27 12:35] estherooi commented on #225
Hi @kiryldz following is the logcat

2020-02-27 20:30:15.709 4232-4232/com.fyp.mapboxar E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.fyp.mapboxar, PID: 4232
    java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{com.fyp.mapboxar/com.fyp.mapboxar.ArActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'double com.mapbox.geojson.Point.longitude

[2020-02-27 12:50] kiryldz commented on #225
You declare
`private Point location;`
and immediately try
`private  Point ROUTE_ORIGIN=Point.fromLngLat(location.longitude(),location.latitude());`
As expected you receive `NullPointerException` because `location` is `null`.

[2020-02-27 13:13] estherooi commented on #225
@kiryldz I realize it, but I can't find any solution to pass the Latitude and Longitude value from
`@Override public void onSuccess(LocationEngineResult result) { if (result!=null){ location = Point.fromLngLat(result.getLastLocation().getLongitude(),result.getLastLocation().getLatitude()); } }`

to
 `private Point ROUTE_ORIGIN=Point.fromLngLat(location.longitude(),location.latitude());
`
if I didn

[2020-02-27 15:03] kiryldz commented on #225
Perhaps I don't understand you correctly, but I can't see problem here.
You get `location` from `public void onSuccess(LocationEngineResult result)` and `initDirectionsRoute` using obtained `location`.

[2020-02-28 05:55] estherooi commented on #225
@kiryldz I get user current `location` by using override method `public void onSuccess(LocationEngineResult result)` but I don't know how to replace the latitude and longitude on  ` private final Point ROUTE_ORIGIN=Point.fromLngLat(101.699116, 2.622355);` with the location i get from `public void onSuccess(LocationEngineResult result)` is there any solution for this?

[2020-02-29 02:43] estherooi commented on #225
@kiryldz I managed to solved it. Thank you so much for helping me :)

[2020-02-29 02:43] #225 closed

[2020-03-03 12:11] yunikkk commented on #224
Implemented in https://github.com/mapbox/mapbox-vision/pull/2255

[2020-03-03 12:30] #224 closed

[2020-03-06 13:31] DmitriyYakovlev opened #227 "crash at launch java.lang.NoSuchMethodError: No static method obtainVisionSkuUserToken"
E/AndroidRuntime: FATAL EXCEPTION: main
	Process: com.mapbox.vision.examples, PID: 6772
	java.lang.NoSuchMethodError: No static method obtainVisionSkuUserToken(Ljava/lang/String;)Ljava/lang/String; in class Lcom/mapbox/android/accounts/v1/MapboxAccounts; or its super classes (declaration of 'com.mapbox.android.accounts.v1.MapboxAccounts' appears in /data/app/com.mapbox.vision.examples-mO9gRjyu-FrW

[2020-03-06 13:44] yunikkk commented on #227
Do you get this error building Teaser app?

You should be using new version of accounts lib, `com.mapbox.mapboxsdk:mapbox-android-accounts:0.3.0` of newer. Other mapbox dependencies may depend on older accounts lib, thus Vision crashes referencing missing functions

[2020-03-06 14:11] DmitriyYakovlev commented on #227
Hi @yunikkk,
this is not from Teaser, this is from the current repo.
There was an issue with resolving of dependencies, like
ERROR: Failed to resolve: com.mapbox.vision:mapbox-android-vision:0.11.0
But, I have applied .aar files, downloaded from Mapbox's site. they has the same 0.11.0

[2020-03-06 14:28] yunikkk commented on #227
@DmitriyYakovlev ah, if you are using direct `aar` files then you'll need to apply two more mapbox libs :
`com.mapbox.mapboxsdk:mapbox-android-accounts:0.3.0` and `com.mapbox.mapboxsdk:mapbox-android-telemetry:4.7.3`.

Could you please also describe why did you have the issue with resolving maven dependency? Did you added your token as shown in https://vision.mapbox.com/install/ ? Does the token h

[2020-03-07 08:26] estherooi commented on #221
Hi @kiryldz how to add 2D marker at the destination to inform user that they have arrived their destination? I tried to add `            WorldCoordinate worldPos = VisionManager.geoToWorld(new GeoCoordinate(poiLat, poiLong));
` at ArActivity.java but I don't know how to use it. Is there any sample code that I can see as reference? because I search a lot from the internet but still cannot find the

[2020-03-07 08:45] estherooi commented on #221
hi @kiryldz how to create 2D marker at destination when user arrive?
1. I tried to use the code that you mention `var worldPos = VisionManager.geoToWorld(GeoCoordinate(poiLat, poiLon))
worldPos.z += poiOffset
val pixelCoords = VisionManager.worldToPixel(worldPos)` but I don't really understand in kotlin. Is there any Java version?
2. `WorldCoordinate worldPos = VisionManager.geoToWorld(new GeoCoor

[2020-03-09 08:06] nole87 opened #228 "ERROR: You haven't set MAPBOX_ACCESS_TOKEN."
Dear,

I get this error:
ERROR: You haven't set MAPBOX_ACCESS_TOKEN.
Please set it in <module>/src/main/res/values/developer-config.xml

And I set it in two developer-config.xml file, there is no more developer-config.xml file. Why I am getting this error.

Best,
Milan

[2020-03-09 08:17] kiryldz commented on #228
Hi @nole87 - there are 3 modules with `developer-config.xml` files: app, recorder, replayer. Please set it in last remaining module and all should work fine.

[2020-03-09 08:33] nole87 commented on #228
I can't believe I didn't see it. I open all folders at least 5 times and also search all files in project and it always return 2 files in app and recorder. Maybe it was somehow generated when I close android studio and now open it again ...

[2020-03-09 08:33] #228 closed

[2020-03-17 11:21] kiryldz opened #229 "[Android] Prepare sample code for custom detections"
We need to prepare new example which will show how to draw custom detections coming from Vision SDK. That example will be followed up by tutorial somewhere nearby https://docs.mapbox.com/android/vision/examples/

[2020-03-18 13:43] #229 closed

[2020-03-18 23:08] RaajputSingh commented on #227
@yunikkk thanks for the solution.

[2020-03-24 13:39] change-bot[bot] opened #233 "No commit statuses or check runs found!"
:wave: Hey there! It's [Changebot](https://github.com/mapbox/changebot), and I help repositories follow our [engineering](https://github.com/mapbox/engineering) best practices. My magic wand found some things I wanted to highlight for your review:

Item | Current status | Best practice guidelines
--- | --- | ---
Number of status checks at time of merging | 0 | >= 1

Could not find any status check

[2020-03-24 13:49] kiryldz commented on #221
Hi @estherooi - please check POI 2D example.

https://github.com/mapbox/mapbox-vision-android/blob/dev/Examples/src/main/java/com/mapbox/vision/examples/POIActivity.java

[2020-03-26 10:41] kiryldz opened #234 "[Android] Prepare sample code for AR customization"
Prepare activities in Kotlin and Java for showing AR customization capabilities.

[2020-03-26 11:40] #234 closed

[2020-03-26 13:50] yuryybk commented on #233
Some issues with Travis CI
Check was successful on dev.

[2020-03-26 13:50] #233 closed

[2020-03-31 11:17] kiryldz opened #236 "[Android, Docs] Update Safety example"
## Description
Current Safety example for Android is not in sync with thumbnail from Android Docs and just showing toast.
Example will be updated (will add visuals).
---

### Issue checklist
- [x] Set Epic, Estimation, Release, Labels

[2020-03-31 15:53] #236 closed

[2020-04-03 16:11] kiryldz commented on #221
Closing due to inactivity.

[2020-04-03 16:11] #221 closed

[2020-04-03 16:21] yunikkk commented on #221
I'd also added that we now have detailed tutorial about drawing POIs, https://docs.mapbox.com/help/tutorials/android-vision-poi-drawing/

[2020-04-04 16:08] yunikkk commented on #83
Implemented in Safety example recently

[2020-04-04 16:08] #83 closed

[2020-04-06 18:07] yunikkk commented on #227
Juts added instructions about the necessary dependencies to the [install docs](https://vision.mapbox.com/install/), closing the issue

[2020-04-06 18:07] #227 closed

[2020-04-19 12:20] narayangour opened #241 "not able to run "Basic AR navigation" demo in my mobile"
steps that i follow -:
1) i clone the SDK in my local machine from here :=
https://github.com/mapbox/mapbox-vision-android
2) I have created my mapbox account and created a token.
3) added token into gradle.properties(project Properties) like
maven {
mapboxMavenUser=mapbox
mapboxMavenToken=my token(removed real one)
}
4) Build into android studio 3.6.1 and run on my mobile one plus 7.
installation

[2020-04-20 09:03] kiryldz commented on #241
Hi @narayangour.
Please attach error log from Android LogCat.

[2020-04-20 09:24] narayangour commented on #241
[Logcat.txt](https://github.com/mapbox/mapbox-vision-android/files/4502441/Logcat.txt)

[2020-04-20 09:39] kiryldz commented on #241
Do you have valid token in `values/developer-config.xml`?

[2020-04-20 09:43] narayangour commented on #241
<?xml version="1.0" encoding="utf-8"?>

<resources>
    <string name="mapbox_access_token"></string>
</resources>

this is content from xml file.
shall i mention same token as mention in gradle.properties file.

[2020-04-20 09:46] narayangour commented on #241
if i update token same as properties file the error:

Executing tasks: [:Examples:assembleDebug] in project /home/narayan/vision/mapbox-vision-android

FAILURE: Build completed with 2 failures.

1: Task failed with an exception.
-----------
* Where:
Script '/home/narayan/vision/mapbox-vision-android/gradle/generate-token.gradle' line: 33

* What went wrong:
A problem occurred evaluating script.

[2020-04-20 10:53] narayangour commented on #241
does developer-config.xml and gradle.properties file token should be different ?

[2020-04-20 11:27] kiryldz commented on #241
It's good practice to have 2 tokens:
- the one for download, with `VISION:DOWNLOAD` scope (that one should go to `~/.gradle/gradle.properties`)
- the one for usage, public token with `VISION:READ` scope (that one should go to `values/developer-config.xml`)
That's pretty strange gradle fails when you try to set token in `values/developer-config.xml`. This file is generated by gradle automatically.

[2020-04-20 12:42] narayangour commented on #241
still facing same issue.

attaching snapshot of two different token created and two files where i updated token.

![Screenshot from 2020-04-20 18-02-30](https://user-images.githubusercontent.com/20928205/79752757-6ee00500-8332-11ea-8f97-ca72e82c4a0b.png)

**gradle.properties:**

android.enableJetifier=true
android.useAndroidX=true
org.gradle.jvmargs=-Xmx1536m
maven {
mapboxMavenUser=mapbox
mapboxM

[2020-04-20 13:00] kiryldz commented on #241
You do not need to update `generate-token.gradle` file.
You need to put correct token inside file `values/developer-config.xml` file.

[code]

BTW if going your way you need to init `token` variable with actual token and not change `final MAPBOX_ACCESS_TOKEN = "mapbox_access_token"`.

[2020-04-21 05:05] narayangour commented on #241
Yes , by doing this I am able to build and open app without crash in my mobile.
but in ArActivity.java i notice source and target locations are hard codec.
any idea how i can change to source= my current location always and target whatever i wish to feed.

[2020-04-21 15:31] narayangour commented on #241
@kiryldz  any update on my request ?

[2020-04-23 10:53] yunikkk commented on #203
@francorobles hello, if you're still have interest you can try Vision with Exynos now using new 0.12.0 Vision SDK release.

[2020-04-23 10:53] #203 closed

[2020-04-23 10:55] yunikkk commented on #79
@cheekim Exynos/Kiring support is out with the 0.12.0 release, check it out

[2020-04-23 10:55] #79 closed

[2020-04-23 11:01] yunikkk commented on #11
Will close this ticket, seems its out of date.
To check if device is supported we have the following API now : `SystemInfoUtils.isVisionSupported`

[2020-04-23 11:01] #11 closed

[2020-04-23 12:56] francorobles commented on #203
Thank your for the update.

[2020-05-07 09:52] icools opened #245 "Could not get mapbox-android-vision-0.12.0.pom, Received status code 403"
Could not determine the dependencies of task ':Examples:compileDebugJavaWithJavac'.

     Required by:
         project :Examples

[2020-05-07 09:58] icools commented on #245
I download the aar directly from webstie(https://vision.mapbox.com/install/) , then it works.

[2020-05-07 10:14] kiryldz commented on #245
Hello @icools .
Please take a closer look at https://account.mapbox.com/access-tokens/create/ mentioned in https://vision.mapbox.com/install/.
It seems that you created a token without `vision:download` scope.

[2020-05-08 03:09] icools commented on #245
Yes,I forgot to select vision:download scope ,Thanks you .

[2020-05-08 03:09] #245 closed, assigned to nobody

[2020-05-15 08:42] CloudWangASP opened #247 "Received status code 401 from server: Unauthorized"
I try to run this project, and I've configured token information in [grade credentials, string.xml, and developer-config.xml ],but still failed to compile, so is there anything I need to pay attention to?

Here is the error info:

Could not determine artifacts for com.mapbox.navigator:mapbox-navigation-native:7.0.0
Could not get resource 'http://mapbox.bintray.com/mapbox/com/mapbox/navigator/mapbo

[2020-05-15 09:32] kiryldz commented on #247
Hi @CloudWangASP - I am able to download `aar` even by link you provided above.
Could you please tell us if could download it too?
Perhaps there was an issue with `bintray` when you tried, could you try again?

[2020-05-19 10:15] CloudWangASP commented on #247
I already solved the compilation issues by downloading AAR manually,  however when I try to run this demo on my phone with external video source，there're no lane or traffic signs  recognized.
What else do I need to do to see the normal render effect?（ps：I already changed the PATH_TO_VIDEO_FILE，and put my real lon&lat in）

[2020-05-19 10:38] kiryldz commented on #247
Thanks for the information.
Please open another issue and state what exact example you are running and how you are testing it (e.g. just pointing on laptop screen or in real vehicle).

[2020-05-19 10:38] #247 closed, assigned to nobody

[2020-05-20 04:01] CloudWangASP opened #248 "Demo running issues"
Hi, I try to run this demo on my Samsung S9 phone with external video source,however it didn't recognize traffic signs and road，so how should I use this project to see the AR effect？

Here are my steps:

1. Compile project and install to my phone(Then I got seven apk on my phone)
2. Download driving video from internet, and replace the "PATH_TO_VIDEO_FILE" const in "ExternalVideoSourceActivityKt"

[2020-05-20 06:37] kiryldz commented on #248
Hi @CloudWangASP ,

1. You actually have one APK, but 7 __independent__ launcher activities.
2. `ExternalVideoSourceActivityKt` just shows an example of playing __any__ video file (by default camera is used), there is actually no AR or any other logic in this activity.
3. Setting route origin and route destination should be actually enough but in order for AR to work you should calibrate the devic

[2020-05-26 11:58] CloudWangASP commented on #248
Lately I try to run the project with Ar or ArCustomizationActivity, when run to this code [VisionManager.create()].I got error log below:

2020-05-26 12:08:46.869 18631-18631/com.mapbox.vision.examples E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.mapbox.vision.examples, PID: 18631
    java.lang.Error: std::exception
        at com.mapbox.vision.mobile.core.NativeVisionManager.initializ

[2020-05-27 10:34] yunikkk commented on #248
@CloudWangASP to confirm - have you customized example somehow? Do you build it from the master branch?

Regarding the visuals for the SDK capabilities: there are some gifs at the toturials help section here https://docs.mapbox.com/help/tutorials/#vision

[2020-06-19 07:18] 123ufo opened #249 "build failed"
Unable to resolve dependency for ':Examples@debug/compileClasspath': Could not download mapbox-navigation-native.aar (com.mapbox.navigator:mapbox-navigation-native:6.2.1)

Failed to resolve: com.mapbox.vision:mapbox-android-vision:0.12.0

Failed to resolve: com.mapbox.vision:mapbox-android-vision-ar:0.12.0

Unable to resolve dependency for ':Examples@debug/compileClasspath': Could not download map

[2020-06-26 07:58] R00iBaard opened #252 "Unable to run demo"
Hi there, Im trying to get the demo running on my Quectel SC66 dev kit but get the following error when the application launches.
Any idea what the problem is?

[2020-06-26 08:30] kiryldz commented on #252
Hi @R00iBaard !
Several questions here:
1) Please attach full log, your log does not contain an actual error - it's described below `A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x24 in tid 13243 (vision.examples), pid 13243 (vision.examples)`
2) Could you please confirm that your device is not rooted.

[2020-06-26 09:15] R00iBaard commented on #252
[code]
And I would definitely say its rooted. How would that effect it?

[2020-06-26 09:21] kiryldz commented on #252
You should see, that a bunch of launcher icons appear when you build examples.
Error you pasted above is related to `ExternalVideoSourceActivityKt` - you could play your custom video file from device external storage by providing path to this file (line 41 in `ExternalVideoSourceActivityKt.kt`)
[code]

[2020-06-29 11:09] yunikkk commented on #249
Hi @123ufo,

have you completed installation instructions at https://docs.mapbox.com/android/vision/overview/install-and-configure/ and added valid mapbox token?

[2020-07-22 06:44] KayHung opened #254 "Unable to resolve dependency for ':Examples@debugUnitTest/compileClasspath'"
I build mapbox-vision-android-dev example, but build failed and show below message
Unable to resolve dependency for ':Examples@debugUnitTest/compileClasspath': Could not resolve com.mapbox.vision:mapbox-android-vision-ar:0.13.0.

Could not GET 'https://api.mapbox.com/downloads/v1/vision/android/maven/com/mapbox/vision/mapbox-android-vision/0.13.0/mapbox-android-vision-0.13.0.pom'. Received status

[2020-07-22 11:48] yunikkk commented on #254
Hey,

have you added mapboxMavenUser/mapboxMavenToken as described at https://vision.mapbox.com/install/ in the Android section ?

[2020-07-23 01:41] KayHung commented on #254
@yunikkk
Yes, I have added mapboxMavenUser/mapboxMavenToken

[2020-07-23 02:38] KayHung commented on #254
@yunikkk
The problem I have solved.
Thanks!

[2020-07-23 02:38] #254 closed, assigned to nobody

[2020-08-04 10:53] Wesleywie commented on #247
Where did you insert the aar file ... I am having this issue aswell

[2020-08-18 12:10] anilemredurak opened #255 "Unable to resolve dependency for ':Examples@debugAndroidTest/compileClasspath': Could not resolve com.mapbox.vision:mapbox-android-vision-ar:0.12.0."
Please Help Me,

dependencies {
    implementation fileTree(dir: 'libs', include: ['*.aar'])
    implementation("com.serenegiant:common:$uvccamera_common") {
        exclude module: 'support-v4'
    }

    implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk7:$kotlin_version"

    implementation "androidx.appcompat:appcompat:$android_x_appcompat"

    implementation "com.mapbox.mapboxsdk:mapbox-

[2020-08-19 09:45] yunikkk commented on #255
Hey @RamenChan , have you added your Mapbox token as described at https://vision.mapbox.com/install/  in the Android section?

[2020-09-06 09:28] pampas93 opened #256 "OpenCL support for latest Google Pixel phones"
Just a question. Vision sdk clearly states that OpenCL is a requirement and Google pixel phones do not support it. I wanted to know if this holds right for the latest pixel phones as well (4, 4a)

And if not, is there any alternative to work with the vision sdk on my pixel 4a?

[2020-09-06 20:13] pampas93 commented on #256
I tried running the examples on my Pixel 4a, and failed with a "Need Snapdragon-powered device with OpenCL support". But I'm running on Snapdragon 730G) and found `libOpenCL.so` and `libOpenCL-pixel.so` under both system/vendor/lib and system/vendor/lib64.

What else am I missing here?

[2020-09-08 13:20] yunikkk commented on #256
Hey @pampas93 !
OpenCL is indeed a requirement. We haven't yet tried Pixel 4 and 4a, but if the binaries are present there is a chance it'll work. You could try to disable check at https://github.com/mapbox/mapbox-vision-android/blob/47a0d7988fec1b706356921564002b226cf3bfe6/Examples/src/main/java/com/mapbox/vision/examples/BaseActivity.java#L30 to test if it'll work on your phone

[2020-09-08 20:25] pampas93 commented on #256
I was previously using release/0.11.0 branch; but now switched to dev. Looks like this check returns true (`SystemInfoUtils.INSTANCE.isVisionSupported()` returns true); so it doesn't get into the if. But, while running it on device, I get this error continuously.
`E/MACE: opencl_runtime.cc:278 No OpenCL platforms found`

Any idea what this is about?

[2020-09-14 14:01] yunikkk commented on #256
Yes, this means that OpenCL is indeed not working on your Pixel, even with binary libraries available. Can be permissions issue, if opencl is not listed as publicly available, that is often the case for embedded Android.

Unfortunately nothing we can do in the moment, but we plan to add Pixel-s support in future. The only option you have right now is to use different device.

[2020-09-20 01:49] pampas93 commented on #256
@yunikkk Thanks for looking into it.

[2020-09-20 01:49] #256 closed, assigned to nobody

[2020-09-21 04:32] wangchongyu opened #257 "Asking for support of portrait in AR navigation"
Currently, the supported screenOrientation by default for AR navigation use case is **sensorLandscape**. In our use case, we really need this to support portrait mode during AR navigation.
However, if I change **screenOrientation="sensorPortrait"** as shown below, the SDK will give me errors:
**E/Vision-Encoder: Not handling orientation = 0 in encoder**
**E/Vision-Camera2: Sensor orientation 0 is

[2020-09-21 11:23] yunikkk commented on #257
Hey @wangchongyu, unfortunately this is not supported now.
Could you describe your use case a little bit?

[2020-09-21 12:58] shahzaib-ch commented on #247
In my case issue was
`MAPBOX_DOWNLOADS_TOKEN="PASTE_YOUR_SECRET_TOKEN_HERE"` instead of `MAPBOX_DOWNLOADS_TOKEN=PASTE_YOUR_SECRET_TOKEN_HERE`.

Just removed quotes and it worked

[2020-09-23 09:45] wangchongyu commented on #257
Hi @yunikkk, thanks for the reply.
We are actually trying to build a GPS based outdoor AR navigation App specifically for walking instead of driving cases.

Similar to Google's AR walking directions below:
![Screenshot 2020-09-23 at 17 18 17](https://user-images.githubusercontent.com/4365679/93993084-e5d96800-fdc0-11ea-87ba-a834edb3200a.png)

Basically, the expected use case would be:
1. The user

[2020-09-24 11:51] yunikkk commented on #257
@wangchongyu unfortunately, currently Vision won't support such operation mode. It requires fixed mount in the car, walking with the device in hands won't allow us to calibrate camera (hence calculate objects positions correctly)

[2020-10-20 10:39] sartaaj13 opened #258 "Support for Mediatek MT6757 Helio P20 (16 nm) Chipset with Mali-T880MP2 GPU."
I am trying to run MapBox Vision on My Samsung J7 Max. I chceked the **libOpenCL.so** file is present in /system/vendor/lib folder, still I am getting this issue

I/MACE: mace.cc:500 Creating MaceEngine, MACE version: v0.11.0-rc0-241-gc0c4f29
E/MACE: opencl_runtime.cc:278 No OpenCL platforms found
I/MACE: mace.cc:682 Destroying MaceEngine
I/MACE: mace.cc:539 Initializing MaceEngine
W/MACE: mace.cc

[2020-10-20 10:55] sartaaj13 commented on #258
I checked the device info using the **SystemInfoUtils** and got the response
![image](https://user-images.githubusercontent.com/43455430/96577135-d6323e00-12f0-11eb-8e23-045bdb0b481d.png)

[2020-11-06 11:59] zainriaz opened #259 "Import classes not found!"
how to import or create these classes

import com.mapbox.vision.VisionManager;
import com.mapbox.vision.ar.VisionArManager;
import com.mapbox.vision.ar.core.models.ManeuverType;
import com.mapbox.vision.ar.core.models.Route;
import com.mapbox.vision.ar.core.models.RoutePoint;
import com.mapbox.vision.ar.view.gl.VisionArView;
import com.mapbox.vision.mobile.core.interfaces.VisionEventsListener;
imp

[2020-11-19 04:43] billylo1 opened #260 "Record video (in my own code) while VisionManager is running"
Given the VisionManager.startRecording is for debugging only, I am trying to find a simple way to record the video using my own code.

I used Google's Camera2 video recorder sample as starting point.  https://github.com/googlearchive/android-Camera2Video

And then add the VisionManager start into onResume().

The result is somewhat strange... it seems to work initially, but after 5 minutes.  The a

[2020-11-30 08:20] kenmasumitsu opened #261 "POI Example (POIActivityKt) does not work with exceptions."
Device:  Galaxy S20 5G (Android 10)
App: POI Example (POIActivityKt).

I modified SESSION_PATH for the restriction of external storage on Android 10,

[code]
I downloaded "https://s3.amazonaws.com/mapbox/vision/docs/sessions/poi-drawing.zip" and then put unzipped files in the "/storage/emulated/0/Android/data/com.mapbox.vision.examples/files/session".
[code]

And then I ran the app, it keep showin

[2020-12-11 15:38] yunikkk commented on #259
Hi @zainriaz , have you added vision as a dependency in gradle?

[2020-12-11 15:44] yunikkk commented on #260
Hey @billylo1, is the question still relevant?
At the moment we don't have simple way to record video aside from startRecording.
The Google's Camera2 video recorder app open's camera inside, and we also open camera in Vision, so I guess it have a lot of conflicts and isn't going to work stable anyway. Could you describe your use case more?

[2020-12-11 16:00] yunikkk commented on #258
Hi @sartaaj13 , unfortunately it seems the device won't be supported by Vision.
Most probably device does not have permissions on the system level to the openCl binaries. So they are present but we are not able to use them.
The only thing you could try is different device.

[2020-12-11 16:00] #258 closed, assigned to nobody

[2020-12-11 18:31] billylo1 commented on #260
Hi, This is what I built for iOS.  sidekick-app.com.  Mapbox vision can coexist with standard camera api there... hoping to do the same thing on Android.

[2020-12-14 15:27] RafiaChy opened #262 "MainActivity"
I'm new android developments with basic knowledge about android  and AR. Where is the MainActivity?

[2020-12-15 10:20] yunikkk commented on #262
Well, there is no activity called MainActivity in the project. You can check list of available activities in the [manifest](https://github.com/mapbox/mapbox-vision-android/blob/dev/Examples/src/main/AndroidManifest.xml)

[2020-12-15 10:20] #262 closed, assigned to nobody

[2020-12-17 09:16] zengsamuel opened #263 "onFrameSignClassificationsUpdated is not called for custom video source"
In ExternalVideoSourceActivity.java, onFrameSignClassificationsUpdated is not called when I use my own video source.

[2021-01-21 16:29] Cosxin commented on #260
I had the same issue and I found a walkaround. Since you have your own recording I am assuming you have a previewView sort of thing. So instead of creating the VisionManager and attaching it to the camera, you can attach it to a customVideoSource `VisionManager.create(customVideoSource)` and from the customVideoSource you fetch the bitmap from your previewView on a fixed timed interval (To do this

[2021-01-25 13:45] billylo1 commented on #260
thanks! Let me give it a try.

[2021-04-06 08:10] AlexShniperson-INO opened #264 "impossible to run example libc error"
Hi
i have problem when try to run example app, here is stack trace, what could be wrong?
[code]

[2021-04-06 08:32] AlexShniperson-INO commented on #264
device is not rooted

[2021-04-06 10:27] yunikkk commented on #264
Could you please describe your setup, you use Huawei with USB camera? Suppose you use https://github.com/mapbox/mapbox-vision-android/blob/dev/Examples/src/main/kotlin/com/mapbox/vision/examples/UsbVideoSourceActivityKt.kt this Example, right?
Also please check version of the Android on your device.

[2021-04-06 11:19] krezzoid opened #265 "Remove camera preview?"
Hello,

Is it possible to remove camera preview from AR view? Idea is just to keep route indication, speed, etc. but without preview from camera. Unfortunately can't something about it in SDK.

[2021-04-06 11:25] AlexShniperson-INO commented on #264
The Device is: Huawei P10 with Android 9
Yes it's `UsbVideoSourceActivityKt.kt` activity
The camera is: HBVCAM-1821-2 V33 (stereo camera) connected to smartphone by OTG

[2021-04-06 11:51] yunikkk commented on #265
Hi, it's not supported at the moment. Could you describe the idea behind AR without preview (hence without visual context for the AR route)?

[2021-04-06 11:58] krezzoid commented on #265
hi @yunikkk,
please take a look email from me with more details

[2021-04-12 07:01] AlexShniperson-INO commented on #264
any updates?
application is crash also without connected camera

[2021-04-15 08:10] yunikkk commented on #264
@AlexShniperson-INO sorry for the long response, looking into it.
Do you mean application crashes on different example, without USB cam? If so - could you share the stacktrace for it as well?

[2021-04-16 13:34] AlexShniperson-INO commented on #264
the same example `External Video Source` crash without connected camera, below is another logs
[code]

[2021-05-04 13:11] yunikkk commented on #265
Keeping issue open to implement some day publicly

[2021-05-06 15:54] lobuli opened #266 "Support for new chips"
I see the new snapdragon 888 chipset is not in the vision supported devices? I can still run vision since the new galaxy phones have OpenCL support. Any updates on when the new chipsets will be added to the list?

[2021-05-21 13:10] yunikkk commented on #266
Hey @lobuli , thanks for the report. We'll add them and hopefully release an update soon.

[2021-05-23 08:06] seemabwaqas opened #267 "Crash at Launch, java.lang.NoSuchMethodError: No static method obtainVisionFleetSkuUserToken"
2021-05-23 11:40:59.929 26542-26542/com.sivakumar.visionar E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.sivakumar.visionar, PID: 26542
    java.lang.NoSuchMethodError: No static method obtainVisionFleetSkuUserToken(Ljava/lang/String;)Ljava/lang/String; in class Lcom/mapbox/android/accounts/v1/MapboxAccounts; or its super classes (declaration of 'com.mapbox.android.accounts.v1.MapboxAcc

[2021-05-23 10:58] seemabwaqas commented on #267
Using .aar for SDK, (gradle implementation is not working) - also adding the suggested libraries from #227 comments.

[2021-05-24 10:35] yunikkk commented on #267
Hi @seemabwaqas , could you try an updated accounts lib,
`com.mapbox.mapboxsdk:mapbox-android-accounts:0.7.0`  ?

[2021-05-26 11:14] seemabwaqas commented on #267
I applied, but below is the response:
Failed to resolve: com.mapbox.navigator:mapbox-navigation-native:7.0.0

[2021-06-03 12:04] yunikkk commented on #267
@seemabwaqas we've just updated the docs that should fix the dependency issues, please check them at https://docs.mapbox.com/android/vision/guides/install/. Note that with the update maven is the only way to get vision dependencies now, should be much simpler that deal with the dependencies manually

[2021-06-06 06:12] seemabwaqas commented on #267
@yunikkk I am still not able to proceed. Maven is updated already.
Below I've added the screenshot.

<img width="1387" alt="Screen Shot 2021-06-06 at 10 10 19 AM" src="https://user-images.githubusercontent.com/55915540/120914506-af721d80-c6af-11eb-977f-ab4cc5c130c6.png">

[2021-06-11 11:02] yunikkk commented on #267
@seemabwaqas could you also check how the libs are added in the `dependencies` block in gradle? To me it seems you still may use downloaded libs and not maven

[2021-06-20 14:43] rgouzal opened #268 "Navigate user via outside custom service array of directions coordinates"
I am using in my app my own custom directions api service which gets directions or route of source and destination coordinates. Is there a possible way to navigate depending on custom route coordinates?

[2021-06-21 11:26] yunikkk commented on #268
Hi!
Do you try to test it on the road with your custom route information provider? If so - you can map the route to the array of RoutePoints and feed it ti Vision, as shown in https://docs.mapbox.com/android/vision/guides/ar/#route-line.

[2021-06-21 14:01] rgouzal commented on #200
still facing issue, this issue should not be closed.

[2021-06-21 14:24] yunikkk commented on #200
@rgouzal please submit fresh issue with the description of what you build and what's not working

[2021-06-21 15:19] rgouzal commented on #200
I am trying to run the exact example but in emulator device.

[2021-06-21 15:20] rgouzal commented on #200
@yunikkk I am trying to run the example from ArActivity.java in mapbox docs page but in emulator device.

[2021-06-21 16:56] rgouzal commented on #268
@yunikkk I am getting route coordinates via a different API (openrouteservice.org) so are you saying I have to loop through each coordinate and map it to a routepoints I see that RoutePoint class is final and does not have a setter or getter same with Route class?

[2021-06-22 09:14] yunikkk commented on #268
Exactly, you need to map coordinates you retrieve from that API to RoutePoints, similarly to https://docs.mapbox.com/android/vision/examples/basic-ar-navigation/.
It's final since it's in fact kotlin data class and you should be able to create and init it with constructor.

[2021-06-22 09:53] yunikkk commented on #200
Ah, then it's clear - Vision won't run on the emulator anyway. You need device that is supported, more info here https://docs.mapbox.com/android/vision/guides/#requirements

[2021-06-23 14:42] rgouzal commented on #268
@yunikkk okay but how can I map it since Route class and RoutePoint class does not have a public setters?

[2021-06-23 14:45] rgouzal commented on #268
@yunikkk and what about a profile of "walking" does AR navigation work only for profile "driving" by lane detection?

[2021-06-26 01:25] rgouzal opened #269 "Not able to navigate or get the route line on AR navigation"
I have tried the Teaser version after downloading it from playstore and playing with it just to get an idea of how AR navigation should work and should be. I tried to use some code on this project with my own React Native project to bind AR navigation to a react native custom module but I don't seem to get AR navigation route line which should be shown on screen.

Note:  I am getting routes by map

[2021-06-28 14:25] yunikkk commented on #269
Hey @rgouzal , to be able to help we'll need more info about the project you build. Please share the code you use to integrate Vision and describe the setup in more details

[2021-06-30 13:27] rgouzal commented on #269
@yunikkk Never mind I will close the issue I was able to get it working, just question is it okay if I use it to publish a react-native package that gets from user routepoints without using mapbox remote navigation kind of for local offline navigation?

[2021-06-30 13:27] #269 closed, assigned to yunikkk

[2021-06-30 14:44] yunikkk commented on #269
@rgouzal should be ok, just curios how do you calculate offline routes?

[2021-06-30 15:32] rgouzal commented on #269
@yunikkk Actually its not offline, but route is fetched before from https://openrouteservice.org and stored on local database so user can access the route offline even if they don't have internet coverage. So once route navigation on arrival and done it will remove the route from database.

[2021-06-30 15:54] #268 closed, assigned to yunikkk

[2021-07-07 06:36] akhilmukund opened #270 "Mapbox vision SDK sample is not working"
I try to set up the Mapbox vision sample app (https://github.com/mapbox/mapbox-vision-android), but not able to test the Mapbox Vision SDK sample app.
Dependency files are not downloading due to the Forbidden error.

Error :
Could not GET 'https://mapbox.bintray.com/mapbox/com/mapbox/navigator/mapbox-navigation-native/7.0.0/mapbox-navigation-native-7.0.0.pom'. Received status code 403 from server:

[2021-07-12 12:44] yunikkk commented on #270
Hi @akhilmukund !
This repo sample has not been updated, indeed. We've changed maven endpoints configuration, please check 'https://docs.mapbox.com/android/vision/guides/install/#add-the-dependency'  carefully again. The new gradle dependency configuration is different, correct url is `url 'https://api.mapbox.com/downloads/v2/releases/maven'` instead of `url 'https://api.mapbox.com/downloads/v1/vi

[2021-07-12 15:33] yunikkk commented on #270
Related https://github.com/mapbox/mapbox-navigation-android/issues/4533

@akhilmukund it seems at the moment you won't be able to retrieve navigation-native 7.0.0 even from the updated maven. Will need to wait while nav-native will revive old versions from the Bintray mirror.

[2021-07-31 00:53] pampas93 commented on #256
@yunikkk Any updates on supporting Google pixels yet? Or can you send me a list of android phones that do work/support the vision API?

[2021-08-02 16:02] yunikkk commented on #256
unfortunately no updates regarding Pixels yet. Most of modern devices are supported though, Pixels are the rare exception. Pretty outdated list is at https://docs.mapbox.com/android/vision/guides/#requirements, but you should expect most newer devices to be supported as well.

[2021-08-03 10:49] yunikkk commented on #270
UPD : navigation SDK seem to have reuploaded all the artifacts to the SDK registry, we'll update build.gradle to get the dependencies from the correct maven repo

[2021-08-03 14:39] #270 closed, assigned to yunikkk

[2021-08-06 17:23] sohail-niazi opened #272 "MapBox Vision not working Forbidden Status: 403"
Hi, I am getting forbidden error on my Android project for last 2 days. I have installed a new android studio on new laptop, since then I am not able to build my project. Following is the error I am facing:
`

* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

     Required by:
         project :app

     Required by:
         project :app

     Requ

[2021-08-09 09:13] yunikkk commented on #272
@sohail-niazi please check the build.gradle file with maven configuration, e.g. https://github.com/mapbox/mapbox-vision-android/blob/dev/build.gradle#L21.
Section with setup instructions is at https://docs.mapbox.com/android/vision/guides/install/#configure-credentials

[2021-08-09 09:16] sohail-niazi commented on #272
My Gradle is using v1 link and there is no plan to switch to v2 anytime soon. But there is no change in my gradle code for over a year

[code]

[2021-08-09 09:22] yunikkk commented on #272
Unfortunately, v1 is no longer supported / working, you have to update the to v2 to make the project build again. Also you'll need the new token with the updated scope, check the docs please https://docs.mapbox.com/android/vision/guides/install/#configure-credentials

[2021-08-10 05:51] sohail-niazi commented on #272
Thanks, it worked after v2 switch and new token 👍

[2021-08-10 05:51] #272 closed, assigned to yunikkk

[2021-08-18 13:06] yunikkk commented on #264
@AlexShniperson-INO is the issue still relevant?

[2021-08-18 13:08] AlexShniperson-INO commented on #264
@yunikkk no, i stop to use your library

[2021-08-18 13:09] yunikkk commented on #264
Ok, closing then. Feel free to reopen if you'll make another try.

[2021-08-18 13:09] #264 closed, assigned to nobody

[2021-10-06 10:14] Lijo0989 opened #273 "VisionReplayManager is not resume after calling VisionReplayManager.Start() from stop state"
Could you please look into this issue.

Scenario:
1. VisionReplayManager is create and start - Working
2. Call VisionReplayManager.stop to pause the Replay - working
3. After calling VisionReplayManager.start() Replay is not resume and it continues pause state,

[2021-10-10 18:32] chanakaayesh opened #274 "can i make usb camera as main camera using this?"
can i make usb camera as main camera  using this?

[2021-10-11 11:47] yunikkk commented on #274
@chanakaayesh hi, could you please clarify the question?

[2022-02-17 12:48] PalmDomenico opened #275 "the app receives this error at run time, how can I fix it?"
2022-02-15 23:29:27.674 27039-27039/? E/ple.mapbox_v_4: Unknown bits set in runtime_flags: 0x800000
2022-02-15 23:29:29.485 27039-27039/com.example.mapbox_v_40 E/libc: Access denied finding property "persist.vendor.camera.privapp.list"
2022-02-15 23:29:29.502 27039-27059/com.example.mapbox_v_40 E/CameraManagerGlobal: Camera 61 is not available. Ignore physical camera status change
2022-02-15 23:29

[2022-04-01 14:15] Sae-Ba opened #276 "Hi, I'd like to play Mapbox vision tutorial but need help"
From Republic of Korea, one of student in TUK universary

I become interested in Mapbox vision docs so i follow basic tutorial
https://docs.mapbox.com/android/vision/examples/basic-ar-navigation/

in this docs i find this comments
// This dummy points will be used to build route. For real world test this needs to be changed to real values for
// source and target locations.

so i tried change Poin

[2022-04-12 05:40] Sae-Ba opened #277 ""E/Vision-Camera2: Sensor orientation 0 is not supported"."
After continuous attempts, I figured out how to intent.

https://ssivakumar.medium.com/ar-navigation-d0e0ad406207

I followed the information above and now I get this error.
logcat
"E/Vision-Camera2: Sensor orientation 0 is not supported".
"E/Vision-Camera2: Sensor orientation 0 is not supported".
"E/Vision-Camera2: Sensor orientation 0 is not supported".
...
infinite loop

Here is my application

[2022-10-25 14:49] ggkangkang commented on #228
did it solve?